.banner {
  background: linear-gradient(
      to right,
      (
        rgba(0, 0, 255, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(255, 0, 0, 0.5) 100%
      )
    ),
    url("../Images/guitars-banner.jpeg");
}
.option-container {
  .options {
    .guitar-option {
      font-size: 0.7rem;
    }
  }
}
.guitar-list-container {
  .item {
    img {
      height: 13rem;
    }
  }
}
