.container {
  padding-top: 7.5vh;
  width: 100%;
  margin: 0 auto;
  .banner {
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
    }
  }
  .option-container {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(20, 20, 20), rgb(50, 50, 50));
    margin-top: 5px;
    .options {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .option {
        border: none;
        background: transparent;
        color: #fff;
        height: 30%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bolder;
        text-align: center;
        z-index: 0;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          border: 2px solid rgb(75, 75, 75);
          border-radius: 5px;
        }
      }
    }
  }
  .list-container {
    height: 100%;
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    justify-content: center;
    margin: 0 auto;
    grid-gap: 4rem;
    padding: 50px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        color: red;
      }
      h4 {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
      }
      img {
        padding-bottom: 20px;
      }
      .add-item-container {
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        transition: 0.3s ease-out;
        z-index: 0;
        .add-item {
          background: linear-gradient(
            to right,
            rgb(20, 20, 20),
            rgb(50, 50, 50)
          );
          border: none;
          font-size: 0.6rem;
          color: #fff;
          padding: 10px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
