@media (min-width: 600px) {
  //-------------------HOME-------------------//
  .home-container {
    .banner {
      img {
        width: 70%;
      }
    }
    .top-products {
      margin: 0 auto;
      .top-products-container {
        width: 90%;
        .products {
          img {
            width: 80%;
          }
        }
      }
    }
  }
  //-------------------NAV-------------------//
  nav {
    .nav-container {
      .nav-left {
        img {
          width: 70%;
        }
      }
    }
  }
  .cart-button {
    img {
      width: 70%;
    }
    &:before {
      top: 0%;
    }
  }
  //-------------------GUITARS-------------------//
  .guitar-container {
    .banner {
      img {
        width: 60%;
      }
    }
    .guitar-option-container {
      .guitar-options {
        width: 70%;
      }
    }
    .guitar-list-container {
      width: 75%;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  //-------------------PEDALS-------------------//
  .pedal-container {
    .banner {
      img {
        width: 60%;
      }
    }
    .pedal-option-container {
      .pedal-options {
        width: 70%;
      }
    }
    .pedal-list-container {
      width: 75%;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  //-------------------SERVICES-------------------//
  .services-container {
    .services-summary {
      img {
        width: 60%;
      }
      p {
        width: 70%;
      }
    }
    .service-card-container {
      .service {
        width: 80%;
        p {
          width: 90%;
          padding-bottom: 10px;
        }
      }
    }
  }
  //-------------------SUPPORT-------------------//
  .support-container {
    .support-banner {
      img {
        width: 60%;
      }
    }
    .faq {
      height: 100%;
      width: 80%;
      text-align: center;
      padding-bottom: 50px;
      .question {
        font-size: 1rem;
      }
    }
  }
  //-------------------FOOTER-------------------//
  footer {
    .footer-container {
      .footer-block {
        img {
          width: 60%;
        }
        .social {
          width: 50%;
        }
      }
    }
  }
  //-------------------CART-------------------//
  .shopping-cart-container {
    width: 80%;
    margin: 0 auto;
    .cart-items-container {
      .item {
        h5 {
          font-size: 1.1rem;
        }
        .item-details {
          .item-price {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  //-------------------HOME-------------------//
  .home-container {
    .banner {
      img {
        width: 60%;
      }
    }
    .promo {
      width: 70%;
      margin: 0 auto;
    }
    .top-products {
      .top-products-container {
        width: 65%;
      }
    }
  }
  //-------------------NAV-------------------//
  nav {
    .nav-container {
      .nav-left {
        img {
          width: 50%;
        }
      }
      h5 {
        display: none;
      }
    }
  }
  .links-container {
    display: block;
  }
  .toggleNav-button {
    display: none;
  }
  .cart-button {
    img {
      width: 50%;
    }
  }

  //-------------------GUITARS-------------------//
  .guitar-container {
    .banner {
      img {
        width: 50%;
      }
    }
    .guitar-list-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  //-------------------PEDALS-------------------//
  .pedal-container {
    .banner {
      img {
        width: 50%;
      }
    }
    .pedal-option-container {
      .pedal-options {
        .option {
          font-size: 0.75rem;
        }
      }
    }
    .pedal-list-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  //-------------------SERVICES-------------------//
  .services-container {
    .services-summary {
      img {
        width: 50%;
      }
    }
  }
  //-------------------SUPPORT-------------------//
  .support-container {
    .support-banner {
      img {
        width: 50%;
      }
    }
    .faq {
      width: 60%;
    }
  }
  //-------------------FOOTER-------------------//
  footer {
    .footer-container {
      width: 80%;
      height: 100%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none;
      .footer-block {
        img {
          width: 100%;
        }
        h3 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.8rem;
        }
        .social {
          width: 75%;
          .icon {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  //-------------------CART-------------------//
  .shopping-cart-container {
    width: 80%;
    margin: 0 auto;
    .cart-items-container {
      .item {
        h5 {
          font-size: 1.1rem;
        }
        .item-details {
          .item-price {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  //-------------------HOME-------------------//
  .home-container {
    .banner {
      height: 50vh;
      img {
        width: 40%;
      }
    }
    .promo {
      width: 60%;
    }
    .top-products {
      .top-products-container {
        width: 70%;
      }
    }
  }
  //-------------------NAV-------------------//
  nav {
    .nav-container {
      .nav-left {
        img {
          width: 40%;
        }
      }
    }
  }
  .cart-button {
    img {
      width: 40%;
    }
    &:before {
      top: 0%;
    }
  }
  //-------------------GUITARS-------------------//
  .guitar-container {
    .banner {
      height: 50vh;
      img {
        width: 40%;
      }
    }
    .guitar-option-container {
      .guitar-options {
        width: 40%;
      }
    }
    .guitar-list-container {
      width: 80%;
    }
  }
  //-------------------PEDALS-------------------//
  .pedal-container {
    .banner {
      height: 50vh;
      img {
        width: 40%;
      }
    }
    .pedal-option-container {
      .pedal-options {
        width: 50%;
      }
    }
    .pedal-list-container {
      width: 80%;
    }
  }
  //-------------------SERVICES-------------------//
  .services-container {
    .services-summary {
      height: 50vh;
      img {
        width: 40%;
      }
      p {
        width: 40%;
      }
    }
    .service-card-container {
      .service {
        width: 40%;
        p {
          width: 90%;
          padding-bottom: 10px;
        }
      }
    }
  }
  //-------------------SUPPORT-------------------//
  .support-container {
    .support-banner {
      height: 50vh;
      img {
        width: 40%;
      }
    }
    .faq {
      height: 100%;
      width: 40%;
      text-align: center;
      padding-bottom: 50px;
      .question {
        font-size: 1.1rem;
      }
    }
  }
  //-------------------FOOTER-------------------//
  footer {
    .footer-container {
      width: 80%;
      .footer-block {
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        .social {
          width: 75%;
          .icon {
            font-size: 2rem;
          }
        }
      }
    }
  }
  //-------------------CART-------------------//
  .shopping-cart-container {
    padding: 10vh 0 10vh 0;
    width: 80%;
    margin: 0 auto;
    h3 {
      font-size: 2rem;
    }
    .cart-items-container {
      background: #eee;
      width: 70%;
      .item {
        h5 {
          font-size: 1.5rem;
        }
        .item-details {
          .item-price {
            p {
              font-size: 1.1rem;
            }
            form {
              input {
                width: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  //-------------------HOME-------------------//
  .home-container {
    .banner {
      img {
        width: 30%;
      }
    }
    .top-products {
      .top-products-container {
        width: 55%;
        .products {
          img {
            width: 70%;
          }
        }
      }
    }
  }
  //-------------------NAV-------------------//
  nav {
    .nav-container {
      .nav-left {
        img {
          width: 30%;
        }
      }
    }
  }
  .cart-button {
    img {
      width: 30%;
    }
  }
  //-------------------GUITARS-------------------//
  .guitar-container {
    .banner {
      img {
        width: 20%;
      }
    }
  }
  //-------------------PEDALS-------------------//
  .pedal-container {
    .banner {
      img {
        width: 20%;
      }
    }
  }
  //-------------------SERVICES-------------------//
  .services-container {
    .services-summary {
      img {
        width: 20%;
      }
      p {
        width: 30%;
      }
    }
  }
  //-------------------SUPPORT-------------------//
  .support-container {
    .support-banner {
      img {
        width: 20%;
      }
    }
  }
  //-------------------FOOTER-------------------//
  footer {
    .footer-container {
      width: 60%;
    }
  }
}
