.side-nav {
  height: 100%;
  width: 100%;
  background: #aaaaaa;
  position: fixed;
  clip-path: circle(0% at 85% 95%);
  -webkit-clip-path: circle(0% at 85% 95%);
  transition: 0.5s ease-out;
  overflow: hidden;
  .side-nav-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
      }
    }
  }
}

.side-nav.open {
  clip-path: circle(100% at 50% 50%);
  -webkit-clip-path: circle(100% at 50% 50%);
  z-index: 101;
}
