.banner {
  background: linear-gradient(
      to right,
      (
        rgba(0, 0, 255, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(255, 0, 0, 0.5) 100%
      )
    ),
    url("../Images/pedals-banner1.jpg") center;
}
.option-container {
  .options {
    .pedal-option {
      font-size: 0.6rem;
    }
  }
}
.pedal-list-container {
  .item {
    img {
      width: 9rem;
    }
  }
}
